apiVersion: v1
kind: Service
metadata:
  name: app-desafiofuncional
spec:
  type: LoadBalancer
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: app-desafiofuncional
    